<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <title>Register your new pet</title>
</head>
<body>
  <h1>Register your new pet</h1>
  <h3>Please fill out this form:</h3>
  <form action="/pets" method="POST">
    <input type="text" name="name"  placeholder="name here" required>
    <input type="text" name="type"  placeholder="type here" required>
    <button>Register pet</button>
  </form>
</body>
</html>